# Default meson build dir
/build

/outputs

*~

# ccls
/.ccls-cache

result
result-*

# IDE
.vscode/
.idea/

.pre-commit-config.yaml

# clangd and possibly more
.cache/

# Mac OS
.DS_Store

flake-regressions

# direnv
.direnv/
